[Unit]
Description=Preinstall before user login
After=multi-user.target
Before=getty.target

[Service]
Type=oneshot
ExecStart=/bin/sh /etc/preinstall/preinstall.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
